main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2,h3{
    color: #fff;
    font-size: xx-large;
    padding-bottom: 10px;
}
main p{
    color: #fff;
    font-size: medium;
    text-align: justify;
}

main > div {
    background-color: #202020;
    border-radius: 10px;
    margin: 10px; /* Espaciado entre las tarjetas */
    padding: 15px; /* Espaciado interno */
}

main img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes al 100% del contenedor padre */
}

main ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

main li {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: medium;
    text-align: justify;    
}

main li img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

main a {
    color: #fff; /* Cambia el color del enlace (puedes ajustarlo según tus preferencias) */
}

.Nosotros {
    display: flex;
    flex-direction: column; /* Apila los elementos en columna */
}

.Nosotros img {
    max-width: 30%; /* Ajusta el tamaño máximo de la imagen al 100% del contenedor */
    margin-right: 10px; /* Espacio entre la imagen y el párrafo (ajusta según sea necesario) */
}

.Nosotros div{
    display: flex;
}

.Nosotros p {
    text-align: justify;
    font-size: x-large;
}


.Muestras img{
    width: 20%;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}