header{
    width: 100%;
    /*background-image: url('../images/encabezado.png'); /* Ruta relativa desde el archivo CSS al directorio de la imagen */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.774)), url('../images/encabezado.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#c4dafa;
    height: 230px;
}
.top{
    height: 200px;
}
.tabs{
    width: 100%;
}
.tabs ul{
    display: flex;
    justify-content: space-around;
}
button{
    color: white;
    background-color: transparent;
    border-style: none;
    border-bottom: #c4dafa;
    padding: 5px 5px;
}
