@media only screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .top {
        height: 150px;
        display: flex;
        justify-content: center;
    }

    .tabs {
        width: 100%;
        background-color: darkblue;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: large;
    }

    main>div {
        width: 90%;
        margin: 15px 0;
        text-align: center;
    }

    .Nosotros div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Nosotros div img {
        max-width: 95%;
        margin: 0;
    }

    .Nosotros div p {
        margin: 10px;
    }

    .cuadricula {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }

    .Muestras h2 {
        text-align: center;
    }

    .cuadricula img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .Contacto div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont {
        margin-bottom: 10px;
    }

    .Contacto img {
        max-width: 100%;
        margin: 10px 0;
    }

    .lista li {
        margin-bottom: 0px;
        color: black;
    }

    .guia {
        width: 60%;
    }

    .Ubicacion .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .contenedor img,
    .contenedor a,
    .contenedor p {
        margin: 0px 0;
    }
}
