/*BODY*/
body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
header{
    width: 100%;
    background-image: url('../images/encabezado.png');
    background-size:cover;
    background-position:center;
    background-color: darkblue;
    height: 180px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    padding-top: 10px;
    width: 30%;
    height: 145px;
}
.tabs{
    background-color: darkblue;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}
.tabs ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.tabs ul li a{
    color: white;
    text-decoration: none;
}

/*MAIN*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main>div {
    width: 75%;
    background-color: white;
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid darkblue;
}

/*NOSOTROS*/
.Nosotros{
    display: flex;
    flex-direction: column;
}
.Nosotros div{
    display: flex;
    gap: 10px;
}
#foto1926{
    width: 35%;
}
.Nosotros p{
    text-align: justify;
    font-size: x-large;
}

/*MUESTRAS*/
.Muestras{
    display: flex;
    flex-direction: column;
}
.cuadricula{
    display: flex;
    justify-content: space-around;
}
.cuadricula img{
    width: 20%;
}

/*CONTACTO*/
.Contacto div{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    align-items : center;
}
.Contacto div ul li{
    text-align: center;
    height: 40px;
    padding-left: 15px;
}
.Contacto div ul li p{
    text-align: justify;
    font-size: x-large;
}
.icono{
    width: 3%;
    text-align: center;
}
.datos{
    text-align: center
}
.guia{
    width: 30%;
    height: auto;
}

/*UBICACION*/
.Ubicacion{
    display: flex;
    flex-direction: column;
}
.contenedor{
    display: flex;
    padding: 10px;
    font-size: large;
}

/*FOOTER*/
footer{
    width: 100%;
    padding: 10px;
    text-align: center;
    border-top: 2px solid silver;
    color: silver;
}

/*EXTRA*/
* {
    box-sizing: border-box;
}
.titulo{
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
    color: darkblue;
}
p{
    font-size: large;
}
strong{
    font-weight: bold;
}

/*MOBILE*/
@media (max-width:800px) {
    body{
        width: 100vh;
    }
    .titulo{
        text-align: center;
    }
    .Nosotros div{
        display: flex;
        flex-direction: column;
    }
    #foto1926{
        width: 100%;
        height: auto;
    }
    .Contacto div{
        display: flex;
        flex-direction: column;
    }
    .Contacto div ul li p{
        text-align: center;
    }
    .guia{
        width: 60%;
        padding-top: 30px;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .contenedor{
        text-align: center;
    }
}
