@media only screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    
    .top {
        height: 150px;
        display: flex;
        justify-content: center;
    }
    .tabs {
        width: 100%;
        background-color: darkblue;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: large;
    }

    main>div {
        width: 90%; /* Puedes ajustar este valor según sea necesario */
        margin: 15px 0; /* Puedes ajustar este valor según sea necesario */
        text-align: center;
        align-items: center;
    }

    .Nosotros div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Nosotros div img{
        max-width: 95%;
        margin: 0;
    }
    .Nosotros div p{
        margin: 10px;
    }

    .cuadricula {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
        grid-template-rows: repeat(2, 1fr); /* 2 filas de igual alto */
        gap: 5px;
    }
    .Muestras h2{
        text-align: center;
    }
    .cuadricula img {
    }

    .Contacto div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cont{
        margin-bottom: 10px;
    }

    .Contacto img {
        max-width: 100%;
        margin: 15px 0; /* Puedes ajustar este valor según sea necesario */
    }
    .lista li {
        margin-bottom: 0px;
        color: black;
    }

    .guia{
        width: 60%;
    }
    
    .contenedor {
        display: flex;
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        max-width: 600px; /* Establece el ancho máximo según tus necesidades */
        margin: 0 auto; /* Centra el contenedor */
    }
    
    .contenedor img, .contenedor a, .contenedor p {
        margin: 10px 0; /* Añade un espacio entre los elementos */
    }
}
