body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto; /* Esto centra el contenido */
}

main h1,
main h2,
main h3 {
    color: darkblue;
    font-size: xx-large;
    padding: 10px;
}

main p {
    color: black;
    font-size: medium;
    line-height: 110%;
}

header {
    width: 100%;
    background-image: url('../images/encabezado.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: darkblue;
    height: 230px;
}

.top {
    height: 200px;
    display: flex;
    justify-content: center;
}

#logo {
    width: auto;
    height: 80%;
    padding: 20px;
}

.tabs {
    width: 100%;
    background-color: darkblue;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
}

.tabs ul {
    display: flex;
    justify-content: space-between;
}

.tabs ul a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>div {
    width: 75%;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    border: 2px solid darkblue;
}

main img {
    max-width: 100%;
}

main ul {
    list-style: none;
    padding: 0;
}

main li {
    display: flex;
    align-items: center;
    color: black;
    font-size: medium;
    text-align: justify;
}

main a {
    color: black;
}

.Nosotros {
    display: flex;
    flex-direction: column;
}

.Nosotros img {
    max-width: 35%;
    margin-right: 15px;
}

.Nosotros div {
    display: flex;
}

.Nosotros p {
    text-align: justify;
    font-size: x-large;
}

.Muestras {
    text-align: center; /* Centra el contenido del div */
    margin: 0 auto;
}

.cuadricula {
    display: flex; /* Utiliza un contenedor flexible */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si no caben en una sola */
    gap: 35px;
}

.Muestras img {
    width: 100%;
    max-width: 140px;
    height: auto;
    margin: 10px;
}
.Muestras h2{
    text-align: left;
}

.Contacto {
    justify-items: center;
}

.Cont {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    text-align: center;
}

.lista {
    list-style: none;
    padding-left: 10px;
}

.cont {
    margin-bottom: 10px;
    color: black;
}

.Contacto img {
    max-width: 100%;
    max-width: 250px;
    height: auto;
}

.cont {
    text-align: justify;
    font-size: x-large;
    justify-content: center;
}

#med,#env {
    color: black;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 10px; /* Espacio entre las columnas */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 10px;
    color: black;
}

.contenedor a {
    text-decoration: none;
    color: darkblue;
}

.contenedor div {
    display: flex;
    flex-direction: column;
}

.icono {
    height: 20px;
    width: 20px;
}

footer {
    height: 25px;
    color: #202020;
    text-align: center;
    border-top: 1px solid silver;
    width: 100%;
}

footer h2{
    border-top: 1px solid silver;
    color: grey;
    padding: 5px;
}